# Folders
.vscode
augmented_set
checkpoints/
Datasets/
predictions_*/
test_set_images/
training/*
training_*
checkpoint
logs/*

# Debug from tf_v2_upgrade.sh
report.txt

# Our submissions
submission-*.csv

# Tensor Flow
road_segmentation_model.h5
